.sectionCardIcon {
  border-radius: 15px;
}
.sectionCardIcon img {
  width: 100%;
  height: 100%;
}

.sectionCardBody {
  padding-right: 10px;
}
.sectionCardTitle {
  font-family: var(--pr-family);
  font-weight: 300;
  font-size: 11px;
  letter-spacing: 0.04em;
  color: #000;
}
