.sectionTitle {
  font-family: var(--pr-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 205%;
  letter-spacing: 0.02em;
  color: #000;
}

.caption {
  font-family: var(--pr-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #747c85;
}
